@font-face {
  font-family: 'coolvetica rg_0';
  src: url('fonts/coolvetica rg_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: coolvetica rg_0;
  font-weight: normal;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  margin-bottom: 1em;
}

.nav {
  background-color: #187AC9;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 2rem;
  font-family: 'coolvetica rg_0';
}

.Nav-Bar-Categories {
  display: flex;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.nav-accent {
  background-color: rgb(255, 142, 40);
  height: 10px;
}

.nav-logo {
  background-color: white;
  text-align: center;
}

.footer {
  background-color: #187AC9;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  color: 'e2edf3';
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  list-style: none;
  font-family: 'coolvetica rg_0';
}

.footer-site-title {
  color: white;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  gap: 2rem;
  padding: 0 1rem;
  text-decoration: none;
  font-size: x-large;
}

.Footer-Bar-Categories {
  display: flex;
  list-style: none;
  color: white;
}

.Footer-Bar-Categories a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .5rem;
}

.Footer-Bar-Categories li.active {
  background-color: #555;
}

.Footer-Bar-Categories li:hover {
  background-color: #777;
}

.footer-copyright {
  text-align: center;
  padding-top: 1em;
  padding-right: 2em;
  color: white;
  gap: 2rem;
  text-decoration: none;
  font-size: large;
}

.careers-parent {
  text-align: center;
}

.TV-main {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tv-desc {
  font-size: larger;
}

.logo-how-page {
  padding-top: 2em;
  vertical-align: text-bottom;
  text-align: center;
}

.how-column-left {
  width: 50%;
  text-align: left;
  margin-top: 6em;
}

.how-column-right {
  width: 50%;
  text-align: center;
  margin-top: 1em
  ;
}

.how-desc {
  text-align: center;
  font-size: x-large;
  margin-top: -1em;
}

.how-header {
  text-align: center;
  font-size: 3em;
  margin-top: -.5em;
}

.how-row {
  /* float: left; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: .5em;
}

.how-column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  margin-left: 50px;
}

.how-column-title {
  font-weight: bold;
  text-align: center;
}

.logo-about-page {
  text-align: center;
  padding-top: 1em;
}

.about-desc {
  text-align: center;
  max-width: 500px !important;
  margin-left: auto;
  margin-right: auto;
}

.about-body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.tenets-header {
  text-align: center;
}

.tenants-desc {
  text-align: center;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  list-style-type: none;
}

.tenants-logo {
  text-align: center;
  padding-top: 1em;
}

.industries-header {
  text-align: center;
  padding-top: 1em;
}

.industries-header-serve {
  text-align: center;
  font-size: xx-large;
}

.industries-body {
  text-align: left;
  font-size: 20px;
  list-style: none;
  margin-left: 25%;
}

.industries-use-case {
  text-align: center;
  font-size: xx-large;
}

.industries-use-case-header {
  text-align: center;
  font-size: xx-large;
}

.industries-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: .5em;
}

.industries-column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  margin-left: 50px;
}

.industries-column-right {
  width: 50%;
  text-align: center;
  margin-top: 1em;
}

.industries-column-left {
  width: 50%;
  margin-top: 1em;
  overflow: hidden;
}

.industries-use-case-text {
  text-align: left;
  font-size: 20px;
  list-style: none;
  margin-left: 25%;
}

.product-logo {
  text-align: center;
  padding-top: 1em;
}

.products-header {
  text-align: center;
}

.products-text {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.products-list-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.products-list {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.services-logo {
  text-align: center;
  padding-top: 1em;
}

.services-header {
  text-align: center;
  margin-bottom: 2em;
}

.services-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: .5em;
}

.services-column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  margin-left: 15%;
  margin-right: 15%;
}

.services-column-left {
  width: 50%;
  text-align: left;
}

.service-column-list {
  text-align: left;
  font-size: 20px;
  list-style: none;
}

.services-column-right {
  width: 50%;
  text-align: left;
  margin-top: 1em;
}

.services-column-title {
  font-weight: bold;
  text-align: center;
}

.tv-desc {
  text-align: center;
}

.Careers-desc {
  text-align: center;
}

.contact-desc {
  text-align: center;
}

.home-desc {
  text-align: center;
  padding-top: 2em;
}

.home-body {
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 2rem;
  padding: 1rem 30rem;
}

